---
import Counter from '../components/Counter.jsx';
import authenticationkey from '../components/authenticationkey.js';

let title = 'My New Astro Site!';
    const response = await fetch(
      "https://api.trafikinfo.trafikverket.se/v2/data.json",
      {
        method: "POST",
        body: `<REQUEST>
                     <LOGIN authenticationkey="${authenticationkey}" />
                     <QUERY objecttype="TrainStation" schemaversion="1">
                           <FILTER>
                                 <EQ name="Advertised" value="true" />
                           </FILTER>
                           <INCLUDE>AdvertisedLocationName</INCLUDE>
                     </QUERY>
               </REQUEST>`,
        headers: {
          "Content-Type": "application/xml",
          Accept: "application/json"
        }
      }
    );

    const data = await response.json();
    const [body] = data.RESPONSE.RESULT;
    console.log(body);
---

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{title}</title>
  <link rel="icon" type="image/svg+xml" href="/favicon.svg">
  <link rel="stylesheet" href="/style/global.css">
  <link rel="stylesheet" href="/style/home.css">
</head>

<body>
  <main>
    <header>
      <div>
        <img width="60" height="80" src="/assets/logo.svg" alt="Astro logo">
        <h1>{body}</h1>
      </div>
    </header>

    <Counter locations={body?.TrainStation} />
  </main>
</body>
</html>
