---
import Table from "../components/Table.jsx";
import authenticationkey from "../components/authenticationkey.js";
import short from "../components/short.js";
import geometry from "../components/geometry.js";
import fs from "node:fs/promises";

const response = await fetch(
  "https://api.trafikinfo.trafikverket.se/v2/data.json",
  {
    method: "POST",
    body: `<REQUEST>
                 <LOGIN authenticationkey="${authenticationkey}" />
                 <QUERY objecttype="TrainStation" schemaversion="1" />
           </REQUEST>`,
    headers: {
      "Content-Type": "application/xml",
      Accept: "application/json",
    },
  }
);

const data = await response.json();
const [body] = data.RESPONSE.RESULT;

await fs.writeFile(
  "public/short.json",
  JSON.stringify(short(body))
);

await fs.writeFile(
  "public/geometry.json",
  JSON.stringify(geometry(body))
);
---

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>locations</title>
  <link rel="icon" type="image/svg+xml" href="/favicon.svg">
  <link rel="stylesheet" href="/style/home.css">
</head>

<body>
  <main>
    <Table locations={body?.TrainStation} />
  </main>
</body>
</html>
